<div class="pic">
	<img src="${src}" />
</div>
<table class="table">
	<tr>
		<th>이름</th>
		<td class="result">${name} </td>
	</tr>
	<tr>
		<th>영문</th>
		<td class="result">${engName}</td>
	</tr>
	<tr>
		<th>생년월일</th>
		<td class="result">${date}</td>
	</tr>
	<tr>	
		<th>E-mail</th>
		<td class="result">${email}</td>
	</tr>
	<tr>	
		<th>사용언어</th>
		<td class="result">${programming}</td>
	</tr>
	<tr>	
		<th>관심분야</th>
		<td class="result">${interesting}</td>
	</tr>
</div>