<div id="program_picture">
	<div class="scv_news_pic">
		<img src="${srcScv}" />
	</div>
	<div class="smart_book_ver">
		<img src="${srcSmartBV}" />
	</div>
	<div class="smart_book">
		<img src="${srcSmartB}" />
	</div>
	<div class="exhibition">
		<img src="${srcExhibit}" />
	</div>
	<div class="labAct">
		<img src="${srcLabActivity}" />
	</div>
	<div class="nxcAct">
		<img src="${srcNxcActivity}" />
	</div>
</div>